@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #e2e8f0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111;
}
